name: host

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.host
      args:
        NEXT_PUBLIC_PRODUCTS_REMOTE_URL: http://localhost:5173/products.js
        NEXT_PUBLIC_CHAT_REMOTE_URL: http://localhost:5174/chat.js
        NEXT_PUBLIC_APP_URL: http://localhost:3000
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_APP_URL=http://localhost:3000
      - NEXT_PUBLIC_API_BASE=https://dummyjson.com
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
